<div id="new-scorecard">
<%= form_for (@scorecard) do |f| %> <br>


	<%= f.label :date %><br>
	<%= f.text_field :date %><br>

	<%= f.label :courseplayed  %><br>
	<%= f.text_field :courseplayed %><br>

<div class="top-row">
	<%= f.label :hole1  %><br>
	<%= number_field_tag :hole1 %><br>
	<%= number_field_tag :par1 %><br>

	<%= f.label :hole2  %><br>
	<%= number_field_tag :hole2 %><br>
	<%= number_field_tag :par2 %><br>

	<%= f.label :hole3  %><br>
	<%= number_field_tag :hole3 %><br>
	<%= number_field_tag :par3 %><br>

	<%= f.label :hole4  %><br>
	<%= number_field_tag :hole4 %><br>
	<%= number_field_tag :par4 %><br>

	<%= f.label :hole5  %><br>
	<%= number_field_tag :hole5 %><br>
	<%= number_field_tag :par5 %><br>

	<%= f.label :hole6  %><br>
	<%= number_field_tag :hole6 %><br>
	<%= number_field_tag :par6 %><br>

	<%= f.label :hole7  %><br>
	<%= number_field_tag :hole7 %><br>
	<%= number_field_tag :par7 %><br>

	<%= f.label :hole8  %><br>
	<%= number_field_tag :hole8 %><br>
	<%= number_field_tag :par8  %><br>

	<%= f.label :hole9  %><br>
	<%= number_field_tag :hole9 %><br>
	<%= number_field_tag :par9 %><br>
</td>
</div>

<div class="bottom-row">
<%= f.label :hole10  %><br>
	<%= number_field_tag :hole10, maxlength: 2 %><br>
	<%= number_field_tag :par10, maxlength: 1 %><br>

	<%= f.label :hole11  %><br>
	<%= number_field_tag :hole11, maxlength: 2 %><br>
	<%= number_field_tag :par11, maxlength: 1 %><br>

	<%= f.label :hole12  %><br>
	<%= number_field_tag :hole12, maxlength: 2 %><br>
	<%= number_field_tag :par12, maxlength: 1 %><br>

	<%= f.label :hole13  %><br>
	<%= number_field_tag :hole13, maxlength: 2 %><br>
	<%= number_field_tag :par13, maxlength: 1 %><br>

	<%= f.label :hole14  %><br>
	<%= number_field_tag :hole14, maxlength: 2 %><br>
	<%= number_field_tag :par14, maxlength: 1 %><br>

	<%= f.label :hole15  %><br>
	<%= number_field_tag :hole15, maxlength: 2 %><br>
	<%= number_field_tag :par15, maxlength: 1 %><br>

	<%= f.label :hole16  %><br>
	<%= number_field_tag :hole16, maxlength: 2 %><br>
	<%= number_field_tag :par16, maxlength: 1 %><br>

	<%= f.label :hole17  %><br>
	<%= number_field_tag :hole17, maxlength: 2 %><br>
	<%= number_field_tag :par17, maxlength: 1 %><br>

	<%= f.label :hole18  %><br>
	<%= number_field_tag :hole18, maxlength: 2 %><br>
	<%= number_field_tag :par8, maxlength: 1 %><br>

	<%= f.label :total  %><br>
	<%= number_field_tag :total, maxlength: 2 %><br>
	<%= number_field_tag :TotalPar, maxlength: 1 %><br>
	<br>
</div>
	<%= f.submit %>

<% end %>


</div>









