<div id="new-scorecard">
<%= form_for (@scorecard) do |f| %> <br>


	<%= f.label :date %><br>
	<%= f.text_field :date %><br>

	<%= f.label :courseplayed  %><br>
	<%= f.text_field :courseplayed %><br>

<div class="top-row">
	<%= f.label :hole_1  %><br>
	<%= f.number_field :hole1 %><br>
	<%= f.number_field :par1 %><br>

	<%= f.label :hole2  %><br>
	<%= f.number_field :hole2 %><br>
	<%= f.number_field :par2 %><br>

	<%= f.label :hole3  %><br>
	<%= f.number_field :hole3 %><br>
	<%= f.number_field :par3 %><br>

	<%= f.label :hole4  %><br>
	<%= f.number_field :hole4 %><br>
	<%= f.number_field :par4 %><br>

	<%= f.label :hole5  %><br>
	<%= f.number_field :hole5 %><br>
	<%= f.number_field :par5 %><br>

	<%= f.label :hole6  %><br>
	<%= f.number_field :hole6 %><br>
	<%= f.number_field :par6 %><br>

	<%= f.label :hole7  %><br>
	<%= f.number_field :hole7 %><br>
	<%= f.number_field :par7 %><br>

	<%= f.label :hole8  %><br>
	<%= f.number_field :hole8 %><br>
	<%= f.number_field :par8  %><br>

	<%= f.label :hole9  %><br>
	<%= f.number_field :hole9 %><br>
	<%= f.number_field :par9 %><br>
</td>
</div>

<div class="bottom-row">
<%= f.label :hole10  %><br>
	<%= f.number_field :hole10, maxlength: 2 %><br>
	<%= f.number_field :par10, maxlength: 1 %><br>

	<%= f.label :hole11  %><br>
	<%= f.number_field :hole11, maxlength: 2 %><br>
	<%= f.number_field :par11, maxlength: 1 %><br>

	<%= f.label :hole12  %><br>
	<%= f.number_field :hole12, maxlength: 2 %><br>
	<%= f.number_field :par12, maxlength: 1 %><br>

	<%= f.label :hole13  %><br>
	<%= f.number_field :hole13, maxlength: 2 %><br>
	<%= f.number_field :par13, maxlength: 1 %><br>

	<%= f.label :hole14  %><br>
	<%= f.number_field :hole14, maxlength: 2 %><br>
	<%= f.number_field :par14, maxlength: 1 %><br>

	<%= f.label :hole15  %><br>
	<%= f.number_field :hole15, maxlength: 2 %><br>
	<%= f.number_field :par15, maxlength: 1 %><br>

	<%= f.label :hole16  %><br>
	<%= f.number_field :hole16, maxlength: 2 %><br>
	<%= f.number_field :par16, maxlength: 1 %><br>

	<%= f.label :hole17  %><br>
	<%= f.number_field :hole17, maxlength: 2 %><br>
	<%= f.number_field :par17, maxlength: 1 %><br>

	<%= f.label :hole18  %><br>
	<%= f.number_field :hole18, maxlength: 2 %><br>
	<%= f.number_field :par8, maxlength: 1 %><br>

	<%= f.label :total  %><br>
	<%= f.number_field :total, maxlength: 2 %><br>
	<%= f.number_field :TotalPar, maxlength: 1 %><br>
	<br>
</div>
	<%= f.submit %>

<% end %>


</div>









