<div id="new-scorecard">
<%= form_for (@scorecard) do |f| %> <br>


	<%= f.label :date %><br>
	<%= f.text_field :date %><br>

	<%= f.label :courseplayed  %><br>
	<%= f.text_field :courseplayed %><br>

<div class="top-row">
	<%= f.label :hole_1  %><br>
	<%= f.number_field :hole1 %><br>
	<%= f.label :par_1 %><br>
	<%= f.number_field :par1 %><br>

	<%= f.label :hole_2  %><br>
	<%= f.number_field :hole2 %><br>
	<%= f.label :par_2 %><br>
	<%= f.number_field :par2 %><br>

	<%= f.label :hole_3  %><br>
	<%= f.number_field :hole3 %><br>
	<%= f.label :par_3 %><br>
	<%= f.number_field :par3 %><br>

	<%= f.label :hole_4  %><br>
	<%= f.number_field :hole4 %><br>
	<%= f.label :par_4 %><br>
	<%= f.number_field :par4 %><br>

	<%= f.label :hole_5  %><br>
	<%= f.number_field :hole5 %><br>
	<%= f.label :par_5 %><br>
	<%= f.number_field :par5 %><br>

	<%= f.label :hole_6  %><br>
	<%= f.number_field :hole6 %><br>
	<%= f.label :par_6 %><br>
	<%= f.number_field :par6 %><br>

	<%= f.label :hole_7  %><br>
	<%= f.number_field :hole7 %><br>
	<%= f.label :par_7 %><br>
	<%= f.number_field :par7 %><br>

	<%= f.label :hole_8  %><br>
	<%= f.number_field :hole8 %><br>
	<%= f.label :par_8 %><br>
	<%= f.number_field :par8  %><br>

	<%= f.label :hole_9  %><br>
	<%= f.number_field :hole9 %><br>
	<%= f.label :par_9 %><br>
	<%= f.number_field :par9 %><br>
</td>
</div>

<div class="bottom-row">
<%= f.label :hole_10  %><br>
	<%= f.number_field :hole10 %><br>
	<%= f.label :par_10 %><br>
	<%= f.number_field :par10 %><br>

	<%= f.label :hole_11  %><br>
	<%= f.number_field :hole11 %><br>
	<%= f.label :par_11 %><br>
	<%= f.number_field :par11 %><br>

	<%= f.label :hole_12  %><br>
	<%= f.number_field :hole12 %><br>
	<%= f.label :par_12 %><br>
	<%= f.number_field :par12 %><br>

	<%= f.label :hole_13  %><br>
	<%= f.number_field :hole13 %><br>
	<%= f.label :par_13 %><br>
	<%= f.number_field :par13 %><br>

	<%= f.label :hole_14  %><br>
	<%= f.number_field :hole14 %><br>
	<%= f.label :par_14 %><br>
	<%= f.number_field :par14 %><br>

	<%= f.label :hole_15  %><br>
	<%= f.number_field :hole15 %><br>
	<%= f.label :par_15 %><br>
	<%= f.number_field :par15 %><br>

	<%= f.label :hole_16  %><br>
	<%= f.number_field :hole16 %><br>
	<%= f.label :par_16 %><br>
	<%= f.number_field :par16 %><br>

	<%= f.label :hole_17  %><br>
	<%= f.number_field :hole17 %><br>
	<%= f.label :par_17 %><br>
	<%= f.number_field :par17 %><br>

	<%= f.label :hole_18  %><br>
	<%= f.number_field :hole18 %><br>
	<%= f.label :par_18 %><br>
	<%= f.number_field :par8 %><br>

	<%= f.label :total  %><br>
	<%= f.number_field :total %><br>
	<%= f.label :Par %><br>
	<%= f.number_field :TotalPar %><br>
	<br>
</div>
	<%= f.submit %>

<% end %>


</div>









