<h1>Scorecards</h1>



<!-- div -->
<table class="table table-striped">
	<thead>
	</thead>
	<tbody>
		
		<% @scorecards.each do |card| %>
			<tr>
				<td><%= link_to "#{card.courseplayed}", scorecard_path(card) %></td>
				<td><%= link_to "#{card.date}", scorecard_path(card) %></td>
				<td><%= link_to 'Edit Scorecard', edit_scorecard_path(card) %></td>
				<!-- <td><%= link_to 'New Scorecard', new_scorecard_path(card) %></td> -->
				<td><%= link_to 'Delete', scorecard_path(card), method: :delete   %></td>
			</tr>
		<% end %>		
	</tbody>
</table>
<!-- /div -->
<div class="new-scorecard-button">

</div> 


