<h1>Scorecards</h1>

<nav class="scorecard-page">
	<%= link_to 'Home', root_path %><br>
	<%= link_to 'New Score Card', new_scorecard_path %><br>
	
</nav>


<div>
	<% @scorecards.each do |card| %>
	<div class="scorecards" data-id="<%= card.id %>">"
	<tr>
		<td><%= link_to 'Date Played', scorecard_path(card) %></td><br>
		<td><%= link_to 'Course Played', scorecard_path(card) %></td><br>
		<td><%= link_to 'Edit Scorecard', edit_scorecard_path(card) %></td><br>
		<td><%= link_to 'Destroy', method: :delete %></td><br>
	</tr>
</div>
	<% end %>

