<h1>Scorecard</h1>

<div class="play-info">
  <h3>
<%= @scorecard.date %><br>
<%= @scorecard.courseplayed %><br>
</h3>
</div>
<hr>

<% render 'form' %>
<!-- 
<%= link_to 'Edit', edit_scorecard_path(@scorecard) %>
<%= link_to 'Back', scorecards_path %>
<%= link_to 'Home', root_path %> -->

<table class="table table-striped">
  <tbody>
    <tr class="scorecard-table-hole">
      <td><%= @scorecard.hole1.to_i %><p><i>Hole 1</i></p></td>     
      <td><%= @scorecard.hole2.to_i %><p><i>Hole 2</i></p></td>
      <td><%= @scorecard.hole3.to_i %><p><i>Hole 3</i></p></td>
      <td><%= @scorecard.hole4.to_i %><p><i>Hole 4</i></p></td>
      <td><%= @scorecard.hole5.to_i %><p><i>Hole 5</i></p></td>
      <td><%= @scorecard.hole6.to_i %><p><i>Hole 6</i></p></td>
      <td><%= @scorecard.hole7.to_i %><p><i>Hole 7</i></p></td>
      <td><%= @scorecard.hole8.to_i %><p><i>Hole 8</i></p></td>
      <td><%= @scorecard.hole9.to_i %><p><i>Hole 9</i></p></td>
    </tr>
    <tr class="scorecard-table-par">
      <td><%= @scorecard.par1.to_i %><p><i>Par 1</i></p></td>
      <td><%= @scorecard.par2.to_i %><p><i>Par 2</i></p></td>
      <td><%= @scorecard.par3.to_i %><p><i>Par 3</i></p></td>
      <td><%= @scorecard.par4.to_i %><p><i>Par 4</i></p></td>
      <td><%= @scorecard.par5.to_i %><p><i>Par 5</i></p></td>
      <td><%= @scorecard.par6.to_i %><p><i>Par 6</i></p></td>
      <td><%= @scorecard.par7.to_i %><p><i>Par 7</i></p></td>
      <td><%= @scorecard.par8.to_i %><p><i>Par 8</i></p></td>
      <td><%= @scorecard.par9.to_i %><p><i>Par 9</i></p></td>
    </tr>

    <tr class="scorecard-table-hole">
      <td><%= @scorecard.hole10.to_i %><p><i>Hole 10</i></p></td> 
      <td><%= @scorecard.hole11.to_i %><p><i>Hole 11</i></p></td> 
      <td><%= @scorecard.hole12.to_i %><p><i>Hole 12</i></p></td> 
      <td><%= @scorecard.hole13.to_i %><p><i>Hole 13</i></p></td> 
      <td><%= @scorecard.hole14.to_i %><p><i>Hole 14</i></p></td> 
      <td><%= @scorecard.hole15.to_i %><p><i>Hole 15</i></p></td> 
      <td><%= @scorecard.hole16.to_i %><p><i>Hole 16</i></p></td> 
      <td><%= @scorecard.hole17.to_i %><p><i>Hole 17</i></p></td> 
      <td><%= @scorecard.hole18.to_i %><p><i>Hole 18</i></p></td> 
    </tr>
    <tr class="scorecard-table-par">
      <td><%= @scorecard.par10.to_i %><p><i>Par 10</i></p></td>
      <td><%= @scorecard.par11.to_i %><p><i>Par 11</i></p></td>
      <td><%= @scorecard.par12.to_i %><p><i>Par 12</i></p></td>
      <td><%= @scorecard.par13.to_i %><p><i>Par 13</i></p></td>
      <td><%= @scorecard.par14.to_i %><p><i>Par 14</i></p></td>
      <td><%= @scorecard.par15.to_i %><p><i>Par 15</i></p></td>
      <td><%= @scorecard.par16.to_i %><p><i>Par 16</i></p></td>
      <td><%= @scorecard.par17.to_i %><p><i>Par 17</i></p></td>
      <td><%= @scorecard.par18.to_i %><p><i>Par 18</i></p></td>
    </tr>
    <tr>
    <td class="scorecard-table-hole"><p><strong>Total Score</strong></p></td>
		<td><p><strong><%= @scorecard.total_score.to_i %></strong></p></td>

		<td class="scorecard-table-par"><p><strong>Total Par</strong></p></td>
		<td ><p><strong><%= @scorecard.total_par.to_i %></strong></p></td>
	</tr>

  </tbody>
</table>

<!-- this is breaking -->
<%= button_to 'Back', scorecards_path %>





