<h1>Scorecard</h1>

<div class="play-info">
<%= @scorecard.date %><br>
<%= @scorecard.courseplayed %><br>
</div>
<hr>

<!-- 
<%= link_to 'Edit', edit_scorecard_path(@scorecard) %>
<%= link_to 'Back', scorecards_path %>
<%= link_to 'Home', root_path %> -->

<table class="table table-striped">
  <tbody>
    <tr>
      <td><%= @scorecard.hole1.to_i %></td>
      <td><%= @scorecard.hole2.to_i %></td>
      <td><%= @scorecard.hole3.to_i %></td>
      <td><%= @scorecard.hole4.to_i %></td>
      <td><%= @scorecard.hole5.to_i %></td>
      <td><%= @scorecard.hole6.to_i %></td>
      <td><%= @scorecard.hole7.to_i %></td>
      <td><%= @scorecard.hole8.to_i %></td>
      <td><%= @scorecard.hole9.to_i %></td>
    </tr>
    <tr>
      <td><%= @scorecard.par1.to_i %></td>
      <td><%= @scorecard.par2.to_i %></td>
      <td><%= @scorecard.par3.to_i %></td>
      <td><%= @scorecard.par4.to_i %></td>
      <td><%= @scorecard.par5.to_i %></td>
      <td><%= @scorecard.par6.to_i %></td>
      <td><%= @scorecard.par7.to_i %></td>
      <td><%= @scorecard.par8.to_i %></td>
      <td><%= @scorecard.par9.to_i %></td>
    </tr>

    <tr>
      <td><%= @scorecard.hole10.to_i %></td>
      <td><%= @scorecard.hole11.to_i %></td>
      <td><%= @scorecard.hole12.to_i %></td>
      <td><%= @scorecard.hole13.to_i %></td>
      <td><%= @scorecard.hole14.to_i %></td>
      <td><%= @scorecard.hole15.to_i %></td>
      <td><%= @scorecard.hole16.to_i %></td>
      <td><%= @scorecard.hole17.to_i %></td>
      <td><%= @scorecard.hole18.to_i %></td>
    </tr>
    <tr>
      <td><%= @scorecard.par10.to_i %></td>
      <td><%= @scorecard.par11.to_i %></td>
      <td><%= @scorecard.par12.to_i %></td>
      <td><%= @scorecard.par13.to_i %></td>
      <td><%= @scorecard.par14.to_i %></td>
      <td><%= @scorecard.par15.to_i %></td>
      <td><%= @scorecard.par16.to_i %></td>
      <td><%= @scorecard.par17.to_i %></td>
      <td><%= @scorecard.par18.to_i %></td>
    </tr>
    <tr>
    <td><p>Total Score</p></td>
		<td><p><%= @scorecard.total_score.to_i %></p></td>

		<td><p>Total Par</p></td>
		<td><p><%= @scorecard.total_par.to_i %></p></td>
	</tr>

  </tbody>
</table>


