<!DOCTYPE html>
<html>
<head>
  <title>ForeScoreApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
  		<h1><a href="/" >ForeScore</a></h1>
    </div>
		<ul class="nav navbar-nav navbar-right">
    <% if session[:current_user_id] %>
  	 	<li>Hello, <%= User.find(session[:current_user_id]).username %></li>
  	 	<li><%= link_to 'Log Out', sessions_path, method: :delete %></li>
   	<% else %>
	 		<li><%= link_to 'Home', root_path %></li> 
      <li><%= link_to 'Sign Up', new_user_path %></li>
	 		<li><%= link_to 'Log In', login_path %></li>
	 		<li><%= link_to 'Scorecards', scorecards_path %></li>
      <li><%= link_to 'Create New Scorecard', new_scorecard_path %></li>
  	<% end %> 
		</ul>
 	</nav>

  <div class="container">
    <%= yield %>
  </div>


</body>
</html>
